
.vs/DesignPattern/v17/.suo
.vs/DesignPattern/FileContentIndex/f262ac91-5220-46cc-bc0f-014a515b769d.vsidx
.vs/DesignPattern/FileContentIndex/d3aa9edc-1848-4c20-9d3f-406ba5614624.vsidx
.vs/DesignPattern/FileContentIndex/7a0cca43-1986-4130-91dc-9dd5517b46f8.vsidx
.vs/DesignPattern/FileContentIndex/6cefd16c-e477-475c-a7fc-5a7ccd441440.vsidx
.vs/DesignPattern/FileContentIndex/0fab8ae7-8f2b-47fb-bde3-e1e26653035d.vsidx
.vs/DesignPattern/DesignTimeBuild/.dtbcache.v2
.vs/DesignPattern/v17/.suo
.vs/DesignPattern/FileContentIndex/0fab8ae7-8f2b-47fb-bde3-e1e26653035d.vsidx
*.vsidx
*.vsidx
*.vsidx
*.vsidx
*.vsidx
*.dll
